
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

input {
  font-size: 16px;
  padding: 8px 10px;
}

label {
  font-size: 16px;
  font-weight: 600;
}

button {
  display: flex;
  margin: 0 auto;
  font-size: 16px;
  padding: 8px 10px;
}
.heading{
    background-color: rgb(216, 143, 54);
}
#button1{
    margin-left: 90%;
    border-radius: 100%;
    align-items: center;
}
#button2{
    margin-left: 90%;
    border-radius: 100%;
    align-items: center;
}
#button3{
    margin-left: 90%;
    border-radius: 100%;
    align-items: center;
}
#button4{
    margin-left: 90%;
    border-radius: 100%;
    align-items: center;
}

.form {
  background-color: rgb(0, 0, 0);
  color:aliceblue;
}

.form2 {
  background-color: rgb(238, 255, 0);
  color:rgba(0, 0, 0, 0.432);
}
.form3{
    background-color: aqua;
}
.form4{
    background-color: aquamarine;
}


